<p HighlightMouse>
    Texto com hightlight quando passo nome
</p>

<p Highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texto com highlight com cores customizadas
</p>

<br><br>

<h3> Diretiva Estrutura customizada - ngElse </h3>
<div *ngIf="mostrarCursos">
    Lista de Cursos Aqui : 
    {{ cursos }}
</div>

<div *ngElse="mostrarCursos">
    Não existem cursos para serem Listado.
</div>


<button class="btn btn-primary" (click)="onMostrarCursos()">
    Mostrar ou Esconder
</button>